*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  text-align: center;
}
.head{
  background-color: #D6B12A;
  text-align: center;
}
button{
  padding: 10px;
  background-color: #D6B12A;
  border: 0;
  color: white;
}
button:hover{
  background-color:#ADD8E6 ;
}
.body{
  line-height: 2;
  background-color: #F4F4F4;
}
.body p{
  color: rgb(47, 47, 139);
}
.tag{
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
